/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@perfix-cls: ant-tugraph;
.@{perfix-cls}-path-modal {
  .@{perfix-cls}-div-select {
    width: 138px;
    margin-right: 8px;
    :global {
      .ant-select-selector {
        border-radius: 6px;
      }
    }
  }
  .@{perfix-cls}-div-ipt {
    width: 208px;
    border-radius: 6px;
    :global {
      .ant-select-selector {
        border-radius: 6px;
      }
    }
  }
  :global {
    .ant-col-12 {
      display: flex;
      justify-content: flex-end;
    }
    .ant-input-group-compact {
      width: 380px;
    }
    .ant-input-number {
      width: 146px;
      border-radius: 8px;
    }
  }
}
