@perfix-cls: ant-tugraph;
.@{perfix-cls}-text-tabs {
  color: rgba(0, 10, 26, 0.68);
  font-size: 16px;
  display: flex;

  &-inline {
    .@{perfix-cls}-text-tabs-item {
      flex: none;
    }
  }

  &-item {
    cursor: pointer;
    flex: 1 1;
    white-space: nowrap;
    text-align: center;
  }

  &-text {
    .@{perfix-cls}-text-tabs-item {
      &:not(:last-child) {
        margin-right: 32px;
      }

      &-active {
        color: var(--primary-text-color);
        font-weight: 500;
      }
    }
  }

  &-card {
    background-image: linear-gradient(
      180deg,
      rgba(22, 80, 255, 0.02) 0%,
      rgba(22, 80, 255, 0.06) 100%
    );
    width: 100%;
    font-size: 14px;
    height: 36px;
    .@{perfix-cls}-text-tabs-item {
      padding: 12px;
      position: relative;
      color: #6a6b71;

      &-active {
        z-index: 1;
        border-radius: 8px 8px 0 0;
        color: #1650ff;
        font-weight: 500;

        &::after,
        &::before {
          width: 16px;
          height: 16px;
          background-color: #f6f8ff;
          position: absolute;
          bottom: 0;
          content: "";
          display: block;
          border-radius: 8px;
          z-index: 1;
        }

        &::before {
          left: -16px;
        }

        &::after {
          right: -16px;
        }

        .@{perfix-cls}-outer-left,
        .@{perfix-cls}-outer-right {
          position: absolute;
          bottom: 0;
          width: 8px;
          height: 8px;
          background-color: #fff;
        }

        .@{perfix-cls}-outer-right {
          right: -12px;
        }

        .@{perfix-cls}-outer-left {
          left: -8px;
        }
      }
    }
  }
}
