/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

  .layout-menu {
    width: 180px;
    height: calc(100% - 24px);
    margin-top: 24px;
    background: #e9eeff;
    border-right:1px solid #ccc;
    box-shadow: 1px 0 0 0 #e5e6e8, 2px 0 0 0 #f7f8fa;
    transition: width 0.3s;

    :global {
      .ant-menu-sub.ant-menu-inline{
        background: #e9eeff !important;
      }

      .ant-menu-item-selected {
        font-weight: 600;
        background-color: rgba(0, 10, 26, 0.04) !important;

        .anticon {
          color: inherit;
        }
        
      }
      .ant-menu-item-selected::after{
        opacity: 0 !important;
      }
    }

  
  }